@import "normalize";       // api: https://github.com/necolas/normalize.css/
@import "variables";       // 站点变量
@import "element-ui";      // element-ui主题定制, 开启(解开注释)后会增加编译时间(建议: 开发时／无此需求时, 请注释!) #待优化
@import "base";


// Add by yueyao ST
.el-icon-plus {
  color: #80A639;
  &:hover {
    cursor: pointer;
  }
}
.el-dialog {
    border-radius: 10px;
    input {
      height: 26px;
      line-height: 26px;
    }
    .el-form-item__label {
      padding: 0 8px 0 0;
    }
  }
  .el-dialog__header {
    border-bottom: 1px solid #EEEEEE;
  }
  .el-dialog__body {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .el-dialog__footer {
    text-align: center;
  }
  // 确认框
  .cus-confirm {
    .el-dialog__header {
      background-color: #80a639;
      padding: 10px 20px;
      border-radius: 10px 10px 0px 0;
    }
    .el-dialog__title {
      color: #ffffff;
    }
    .el-dialog__headerbtn {
      top: 15px;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #ffffff;
    }
  }
  // 自定义样式
  .cus-button {
    .el-button {
      color: #80a639;
      border-color: #80a639;
      display: flex;
      padding: 9px 10px;
      align-items: center;
    }
  }
  // step样式
  .el-steps {
    justify-content: center;
    padding-bottom: 16px;
  }
  .el-step__title {
    font-size: 14px;
  }
  .el-step__title.is-process {
    font-weight: 400;
  }
  .el-step__head.is-process {
    border-color: #606266;
    color: #606266;
  }
  .el-steps--simple {
    cursor: pointer;
  }

  .el-icon-export {
    background: url(~@/assets/img/export-logo.png) center no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  .table {
    .el-radio__label {
      display: none;
    }
  }

  // 去掉input框的上下箭头
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  input[type='number'] {
      -moz-appearance: textfield;
  }
  // Add by yueyao END

  // timepicker选中颜色变更
  .el-time-spinner__item.active:not(.disabled) {
    color: #80A639;
  }

/* 滚动条有滑块的轨道部分 */
::-webkit-scrollbar-track-piece {
  background-color: #FFFFFF;
  border-radius: 1px;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

/* 滚动条竖向滑块 */
::-webkit-scrollbar-thumb:vertical {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-color: #BABABA;
  border-radius: 4px;
}

/* 滚动条横向滑块 */
::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-color: #BABABA;
  border-radius: 4px;
}

/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
  display: block;    /* 修复交汇时出现的白块 */
}

.main-body {
  height: 100%;
  overflow: hidden;
}

.scroll-body {
  overflow-y: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.el-table .light-row {
  background: #F4F4F5;
}
.el-table .self-row {
  td {
    height: 40px;
    padding: 0;
    border-bottom: none;
  }
}
.el-table .self-header {
  height: 40px;
  th {
    padding: 0;
    background: #E5F4D5;
    border-bottom: none;
  }
}
.el-table .self-header {
  height: 40px;
  th {
    padding: 0;
    background: #E5F4D5;
    border-bottom: none;
  }
}
.el-table .self-header-2 {
  height: 44px;
  th {
    padding: 0;
    background: #E7EDE4;
    border-bottom: none;
  }
}
.mt-16 {
  margin-top: 16px;
}
.divider {
  width: 100%;
  height: 1px;
  background: #EDEDED;
  border-radius: 2px;
}
.title {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  .title-text {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
  }
  .button-group {
    display: flex;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #C5C5C5;
    .button-item {
      cursor: pointer;
      width: 58px;
      text-align: center;
      line-height: 32px;
      border-left: 1px solid #C5C5C5;
      color: #999999;
      &:first-of-type {
        border-left: none;
      }
      &.active {
        border-left: none;
        background: #79AC43;
        color: #FFFFFF;
      }
    }
  }
}
.icon-phone-visit {
  background-image: url("../img/phone_visit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
}
.icon-face-visit {
  background-image: url("../img/face_visit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
}
.icon-we-visit {
  background-image: url("../img/we_visit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
}
.icon-user {
  width: 22px;
  height: 22px;
  background-image: url("../img/visit_people.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-date {
  width: 22px;
  height: 22px;
  background-image: url("../img/date_time.png");
  background-repeat: no-repeat;
  background-size: contain;
}
